interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 29 Jan 2026 10:33:37 GMT
      x-ms-version:
      - '2026-02-06'
    method: PUT
    uri: https://clitestsa000002.blob.core.windows.net/container-alpha?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE5F21DDC803B3"'
      last-modified:
      - Thu, 29 Jan 2026 10:33:39 GMT
      x-ms-version:
      - '2026-02-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 29 Jan 2026 10:33:39 GMT
      x-ms-version:
      - '2026-02-06'
    method: PUT
    uri: https://clitestsa000002.blob.core.windows.net/container-beta?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE5F21DE889543"'
      last-modified:
      - Thu, 29 Jan 2026 10:33:40 GMT
      x-ms-version:
      - '2026-02-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 29 Jan 2026 10:33:40 GMT
      x-ms-version:
      - '2026-02-06'
    method: PUT
    uri: https://clitestsa000002.blob.core.windows.net/container-gamma?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE5F21DF476A6E"'
      last-modified:
      - Thu, 29 Jan 2026 10:33:41 GMT
      x-ms-version:
      - '2026-02-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 29 Jan 2026 10:33:42 GMT
      x-ms-version:
      - '2026-02-06'
    method: PUT
    uri: https://clitestsa000002.blob.core.windows.net/container-delta?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE5F21E00F9962"'
      last-modified:
      - Thu, 29 Jan 2026 10:33:43 GMT
      x-ms-version:
      - '2026-02-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.Storage/storageAccounts/clitestsa000002?api-version=2025-06-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.Storage/storageAccounts/clitestsa000002","name":"clitestsa000002","type":"Microsoft.Storage/storageAccounts","location":"centraluseuap","tags":{},"properties":{"allowCrossTenantDelegationSas":false,"keyCreationTime":{"key1":"2026-01-29T10:33:08.5134495Z","key2":"2026-01-29T10:33:08.5134495Z"},"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2026-01-29T10:33:08.5236386Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2026-01-29T10:33:08.5236386Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2026-01-29T10:33:08.3909200Z","primaryEndpoints":{"dfs":"https://clitestsa000002.dfs.core.windows.net/","web":"https://clitestsa000002.z2.web.core.windows.net/","blob":"https://clitestsa000002.blob.core.windows.net/","queue":"https://clitestsa000002.queue.core.windows.net/","table":"https://clitestsa000002.table.core.windows.net/","file":"https://clitestsa000002.file.core.windows.net/"},"primaryLocation":"centraluseuap","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "location": "centraluseuap", "properties":
      {"securitySettings": {"softDeleteSettings": {"retentionDurationInDays": 14.0,
      "state": "AlwaysOn"}}, "storageSettings": [{"datastoreType": "VaultStore", "type":
      "LocallyRedundant"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.DataProtection/backupVaults/clitest-vaulted-blob-vault?api-version=2025-09-01
  response:
    body:
      string: '{"location":"centraluseuap","identity":{"type":"SystemAssigned","principalId":"6321374e-fc69-49f7-b91e-8de9613b39e2","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"properties":{"provisioningState":"Provisioning","storageSettings":[{"datastoreType":"VaultStore","type":"LocallyRedundant"}],"isVaultProtectedByResourceGuard":false,"securitySettings":{"softDeleteSettings":{"state":"AlwaysOn","retentionDurationInDays":14.0}},"secureScore":"Adequate","bcdrSecurityLevel":"Good","replicatedRegions":[],"crossRegionBackupSettings":"NotApplicable"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.DataProtection/backupVaults/clitest-vaulted-blob-vault","name":"clitest-vaulted-blob-vault","type":"Microsoft.DataProtection/backupVaults"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.DataProtection/backupVaults/clitest-vaulted-blob-vault/operationStatus/OWVmYzRkMDEtNTIwMy00NDMyLTkzY2UtNDI4YWVjMzI5YmE1O2JjMGI0ZWNmLWYyZjUtNDk1Ni1iYzM3LTgyOTkwYWNhZjgwMg==?api-version=2025-09-01&t=639052796348432045&c=MIIIrzCCBpegAwIBAgITUQE-kX1xp1ObWd_PxAABAT6RfTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYD[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.DataProtection/backupVaults/clitest-vaulted-blob-vault/operationStatus/OWVmYzRkMDEtNTIwMy00NDMyLTkzY2UtNDI4YWVjMzI5YmE1O2JjMGI0ZWNmLWYyZjUtNDk1Ni1iYzM3LTgyOTkwYWNhZjgwMg==?api-version=2025-09-01&t=639052796348432045&c=MIIIrzCCBpegAwIBAgITUQE-kX1xp1ObWd_PxAABAT6RfTANBg[...]
[...]
- request:
    body: '{"properties": {"datasourceTypes": ["Microsoft.Storage/storageAccounts/blobServices"],
      "name": "BlobPolicy1", "objectType": "BackupPolicy", "policyRules": [{"isDefault":
      true, "lifecycles": [{"deleteAfter": {"duration": "P30D", "objectType": "AbsoluteDeleteOption"},
      "sourceDataStore": {"dataStoreType": "OperationalStore", "objectType": "DataStoreInfoBase"},
      "targetDataStoreCopySettings": []}], "name": "Default_OperationalStore", "objectType":
      "AzureRetentionRule"}, {"isDefault": true, "lifecycles": [{"deleteAfter": {"duration":
      "P7D", "objectType": "AbsoluteDeleteOption"}, "sourceDataStore": {"dataStoreType":
      "VaultStore", "objectType": "DataStoreInfoBase"}, "targetDataStoreCopySettings":
      []}], "name": "Default", "objectType": "AzureRetentionRule"}, {"backupParameters":
      {"backupType": "Discrete", "objectType": "AzureBackupParams"}, "dataStore":
      {"dataStoreType": "VaultStore", "objectType": "DataStoreInfoBase"}, "name":
      "BackupDaily", "objectType": "AzureBackupRule", "trigger": {"objectType": "ScheduleBasedTriggerContext",
      "schedule": {"repeatingTimeIntervals": ["R/2023-06-28T07:30:00+00:00/P1D"],
      "timeZone": "UTC"}, "taggingCriteria": [{"isDefault": true, "tagInfo": {"id":
      "Default_", "tagName": "Default"}, "taggingPriority": 99}]}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.DataProtection/backupVaults/clitest-vaulted-blob-vault/backupPolicies/blobpolicy?api-version=2025-09-01
  response:
    body:
      string: '{"properties":{"policyRules":[{"lifecycles":[{"deleteAfter":{"objectType":"AbsoluteDeleteOption"[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.microsoft.com/v1.0/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%276321374e-fc69-49f7-b91e-8de9613b39e2%27%29
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#servicePrincipals","value":[]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"South India","Slice":"E","Ring":"2","ScaleUnit":"002","RoleInstance":"MA1PEPF000143F3"}}'
      x-ms-resource-unit:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"ids": ["6321374e-fc69-49f7-b91e-8de9613b39e2"], "types": ["user", "group",
      "servicePrincipal", "directoryObjectPartnerReference"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/directoryObjects/getByIds
  response:
    body:
      string: '{"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#directoryObjects","value":[{"@odata.type":"#microsoft.graph.servicePrincipal","id":"6321374e-fc69-49f7-b91e-8de9613b39e2","deletedDateTime":null,"accountEnabled":true,"alternativeNames":["isExplicit=False","/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.DataProtection/BackupVaults/clitest-vaulted-blob-vault"],"appDisplayName":null,"appDescription":null,"appId":"48c908f7-55d4-4840-b429-9194f38ca39a","applicationTemplateId":null,"appOwnerOrganizationId":null,"appRoleAssignmentRequired":false,"createdDateTime":"2026-01-29T10:33:52Z","description":null,"disabledByMicrosoftStatus":null,"displayName":"clitest-vaulted-blob-vault","homepage":null,"loginUrl":null,"logoutUrl":null,"notes":null,"notificationEmailAddresses":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyThumbprint":null,"replyUrls":[],"servicePrincipalNames":["48c908f7-55d4-4840-b429-9194f38ca39a","https://identity.azure.net/0IHSsE5bJuVhq8dP+0hEz8XLr9M7D5/9/ZnjZjvh6so="],"servicePrincipalType":"ManagedIdentity","signInAudience":null,"tags":[],"tokenEncryptionKeyId":null,"info":null,"samlSingleSignOnSettings":null,"addIns":[],"appRoles":[],"keyCredentials":[{"customKeyIdentifier":"36F8B73C49EB02EEF6CADC0EF5A24303F835256B","displayName":"CN=48c908f7-55d4-4840-b429-9194f38ca39a","endDateTime":"2026-04-29T10:28:00Z","key":null,"keyId":"50d6cf1e-949f-4b2d-a82c-23ea0bb56bb4","startDateTime":"2026-01-29T10:28:00Z","type":"AsymmetricX509Cert","usage":"Verify"}],"oauth2PermissionScopes":[],"passwordCredentials":[],"resourceSpecificApplicationPermissions":[],"verifiedPublisher":{"displayName":null,"verifiedPublisherId":null,"addedDateTime":null}}]}'
    headers:
      content-type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      location:
      - https://graph.microsoft.com
      odata-version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"South India","Slice":"E","Ring":"2","ScaleUnit":"002","RoleInstance":"MA1PEPF000095FF"}}'
      x-ms-resource-unit:
      - '3'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.Storage/storageAccounts/clitestsa000002/providers/Microsoft.Authorization/roleAssignments?$filter=atScope()&api-version=2022-04-01
  response:
    body:
      string: '{"value":[{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/8ffc7b67-95b9-471f-9a13-f3fcb5319c06","principalId":"5cf638fd-a9f5-4ed5-834d-b4b99d4372df","principalType":"ServicePrincipal","scope":"/","condition":null,"conditionVersion":null,"createdOn":"2026-01-08T18:01:23.4164140Z","updatedOn":"2026-01-08T18:01:23.4164140Z","createdBy":null,"updatedBy":null,"delegatedManagedIdentityResourceId":null,"description":null},"id":"/providers/Microsoft.Authorization/roleAssignments/feb3abe9-5ceb-45bd-8098-58abdc343b46","type":"Microsoft.Authorization/roleAssignments","name":"feb3abe9-5ceb-45bd-8098-58abdc343b46"},{"properties":{"roleDefinitionId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/8ffc7b67-95b9-471f-9a13-f3fcb5319c06","principalId":"79555fee-51e2-43d1-8edd-ba5645b9f262","principalType":"ServicePrincipal","scope":"/","conditio[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.Storage/storageAccounts/clitestsa000002/providers/Microsoft.Authorization/roleDefinitions?$filter=roleName%20eq%20%27Storage%20Account%20Backup%20Contributor%27&api-version=2022-05-01-preview
  response:
    body:
      string: '{"value":[{"properties":{"roleName":"Storage Account Backup Contributor","type":"BuiltInRole","description":"Lets
        you perform backup and restore operations using Azure Backup on the storage
        account.","assignableScopes":["/"],"permissions":[{"actions":["Microsoft.Authorization/*/read","Microsoft.Authorization/locks/read","Microsoft.Authorization/locks/write","Microsoft.Authorization/locks/delete","Microsoft.Features/features/read","Microsoft.Features/providers/features/read","Microsoft.Resources/subscriptions/resourceGroups/read","Microsoft.Storage/operations/read","Microsoft.Storage/storageAccounts/objectReplicationPolicies/delete","Microsoft.Storage/storageAccounts/objectReplicationPolicies/read","Microsoft.Storage/storageAccounts/objectReplicationPolicies/write","Microsoft.Storage/storageAccounts/objectReplicationPolicies/restorePointMarkers/write","Microsoft.Storage/storageAccounts/blobServices/containers/read","Microsoft.Storage/storageAccounts/blobServices/containers/write","Microsoft.Storage/storageAccounts/blobServices/read","Microsoft.Storage/storageAccounts/blobServices/write","Microsoft.Storage/storageAccounts/read","Microsoft.Storage/storageAccounts/restoreBlobRanges/action"],"notActions":[],"dataActions":[],"notDataActions":[]}],"createdOn":"2020-11-02T23:32:50.4203469Z","updatedOn":"2022-04-20T07:52:04.6883613Z","createdBy":null,"updatedBy":null},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/e5e2a7ff-d759-4cd2-bb51-3152d37e2eb1","type":"Microsoft.Authorization/roleDefinitions","name":"e5e2a7ff-d759-4cd2-bb51-3152d37e2eb1"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-throttling-version:
      - v2
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"roleDefinitionId": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Authorization/roleDefinitions/e5e2a7ff-d759-4cd2-bb51-3152d37e2eb1",
      "principalId": "6321374e-fc69-49f7-b91e-8de9613b39e2", "principalType": "ServicePrincipal"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-[...]
- request:
    body: '{"backupInstance": {"dataSourceInfo": {"datasourceType": "Microsoft.Storage/storageAccounts/blobServices",
      "objectType": "Datasource", "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.Storage/storageAccounts/clitestsa000002",
      "resourceLocation": "centraluseuap", "resourceName": "clitestsa000002", "resourceType":
      "Microsoft.Storage/storageAccounts", "resourceUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.Storage/storageAccounts/clitestsa000002"},
      "dataSourceSetInfo": {"datasourceType": "Microsoft.Storage/storageAccounts/blobServices",
      "objectType": "DatasourceSet", "resourceId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.Storage/storageAccounts/clitestsa000002",
      "resourceLocation": "centraluseuap", "resourceName": "clitestsa000002", "resourceType":
      "Microsoft.Storage/storageAccounts", "resourceUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.Storage/storageAccounts/clitestsa000002"},
      "datasourceAuthCredentials": null, "friendlyName": "clitestsa000002", "objectType":
      "BackupInstance", "policyInfo": {"policyId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.DataProtection/backupVaults/clitest-vaulted-blob-vault/backupPolicies/blobpolicy",
      "policyParameters": {"backupDatasourceParametersList": [{"containersList": ["container-alpha",
      "container-beta"], "objectType": "BlobBackupDatasourceParameters"}]}}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.DataProtection/backupVaults/clitest-vaulted-blob-vault/validateForBackup?api-version=2025-09-01
  response:
    body:
      string: ''
    headers:
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.DataProtection/backupVaults/clitest-vaulted-blob-vault/operationStatus/OWVmYzRkMDEtNTIwMy00NDMyLTkzY2UtNDI4YWVjMzI5YmE1OzdmMWU0NWQ5LTk4MDEtNDhlOC05ZGMxLTg2MTBhMTAxYzVjNA==?api-version=2025-09-01&t=639052798040758618&c=MIIH9DCCBtygAwIBAgIQEWR14AiFYWFBijpriMcSqDANBgkqhk[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataProtection/locations/centraluseuap/operationResults/OWVmYzRkMDEtNTIwMy00NDMyLTkzY2UtNDI4YWVjMzI5YmE1OzdmMWU0NWQ5LTk4MDEtNDhlOC05ZGMxLTg2MTBhMTAxYzVjNA==?api-version=2025-09-01&t=639052798040914822&c=MIIH9DCCBtygAwIBAgIQEWR14AiFYWFBijpriMcSqDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVTJDIENBI[...]
- request:
    body: '{"backupInstance": {"dataSourceInfo": {"datasourceType": "Microsoft.Storage/storageAccounts/blobServices",
      "objectType": "Datasource", "resourceID": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.Storage/storageAccounts/clitestsa000002",
      "resourceLocation": "centraluseuap", "resourceName": "clitestsa000002", "resourceType":
      "Microsoft.Storage/storageAccounts", "resourceUri": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.Storage/storageAccounts[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.DataProtection/backupVaults/clitest-vaulted-blob-vault/operationStatus/OWVmYzRkMDEtNTIwMy00NDMyLTkzY2UtNDI4YWVjMzI5YmE1O2Q4YjRmOWM4LWMxNTItNGQzMS1iM2M1LWQzMjViYjQ2ZDU3MA==?api-version=2025-09-01&t=639052798399113686&c=MIIH9DCCBtygAwIBAgIQEWR14AiFYWFBijpriMcSqDANBgkqhk[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataProtection/locations/centraluseuap/operationResults/OWVmYzRkMDEtNTIwMy00NDMyLTkzY2UtNDI4YWVjMzI5YmE1O2Q4YjRmOWM4LWMxNTItNGQzMS1iM2M1LWQzMjViYjQ2ZDU3MA==?api-version=2025-09-01&t=639052798399270392&c=MIIH9DCCBtygAwIBAgIQEWR14AiFYWFBijpriMcSqDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVTJDIENBI[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.DataProtection/backupVaults/clitest-vaulted-blob-vault/operationStatus/OWVmYzRkMDEtNTIwMy00NDMyLTkzY2UtNDI4YWVjMzI5YmE1OzNlNjBhZGRiLWY2NDQtNDNjYS1hN2Y1LTYxY2ZjODEzY2NiNQ==?api-version=2025-09-01&t=639052798751400885&c=MIIH9DCCBtygAwIBAgIQEWR14AiFYWFBijpriMcSqDANBgkqhk[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.DataProtection/backupVaults/clitest-vaulted-blob-vault/backupInstances/clitestsa000002-clitestsa000002-b7e6f082-b310-11eb-8f55-9cfce85d4fa1/operationResults/OWVmYzRkMDEtNTIwMy00NDMyLTkzY2UtNDI4YWVjMzI5YmE1OzNlNjBhZGRiLWY2NDQtNDNjYS1hN2Y1LTYxY2ZjODEzY2NiNQ==?api-versio[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.DataProtection/backupVaults/clitest-vaulted-blob-vault/backupInstances/clitestsa000002-clitestsa000002-b7e6f082-b310-11eb-8f55-9cfce85d4fa1?api-version=2025-09-01
  response:
    body:
      string: '{"properties":{"friendlyName":"clitestsa000002","dataSourceInfo":{"r[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.DataProtection/backupVaults/clitest-vaulted-blob-vault/operationStatus/OWVmYzRkMDEtNTIwMy00NDMyLTkzY2UtNDI4YWVjMzI5YmE1OzRiOTM4NGZjLWE3NjQtNGRiNi05YWE4LWU2MjA4Mzc5OTAzMA==?api-version=2025-09-01&t=639052799778873186&c=MIIH9DCCBtygAwIBAgIQEWR14AiFYWFBijpriMcSqDANBgkqhk[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.DataProtection/backupVaults/clitest-vaulted-blob-vault/backupInstances/clitestsa000002-clitestsa000002-b7e6f082-b310-11eb-8f55-9cfce85d4fa1/operationResults/OWVmYzRkMDEtNTIwMy00NDMyLTkzY2UtNDI4YWVjMzI5YmE1OzRiOTM4NGZjLWE3NjQtNGRiNi05YWE4LWU2MjA4Mzc5OTAzMA==?api-versio[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.DataProtection/backupVaults/clitest-vaulted-blob-vault/operationStatus/OWVmYzRkMDEtNTIwMy00NDMyLTkzY2UtNDI4YWVjMzI5YmE1OzFmZjMxYTQ3LTNhYTktNDE0YS05Yzc5LTcyNjc1ZDlkMDM4Yw==?api-version=2025-09-01&t=639052800441635244&c=MIIH9DCCBtygAwIBAgIQEWR14AiFYWFBijpriMcSqDANBgkqhk[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataProtection/locations/centraluseuap/operationResults/OWVmYzRkMDEtNTIwMy00NDMyLTkzY2UtNDI4YWVjMzI5YmE1OzFmZjMxYTQ3LTNhYTktNDE0YS05Yzc5LTcyNjc1ZDlkMDM4Yw==?api-version=2025-09-01&t=639052800441791464&c=MIIH9DCCBtygAwIBAgIQEWR14AiFYWFBijpriMcSqDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVTJDIENBI[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.DataProtection/locations/centraluseuap/operationStatus/OWVmYzRkMDEtNTIwMy00NDMyLTkzY2UtNDI4YWVjMzI5YmE1OzViNDU2M2FmLWI4NGItNDYyOS1hODgxLTA0NWJmOTRhMThkZQ==?api-version=2025-09-01&t=639052801174407725&c=MIIHpTCCBo2gAwIBAgITfwaTdg9Wa_4ttc6ecQAEBpN2DzANBgkqhkiG9w0BAQsFAD[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.DataProtection/locations/centraluseuap/operationResults/OWVmYzRkMDEtNTIwMy00NDMyLTkzY2UtNDI4YWVjMzI5YmE1OzViNDU2M2FmLWI4NGItNDYyOS1hODgxLTA0NWJmOTRhMThkZQ==?api-version=2025-09-01&t=639052801174563947&c=MIIHpTCCBo2gAwIBAgITfwaTdg9Wa_4ttc6ecQAEBpN2DzANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDV[...]
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 29 Jan 2026 10:42:04 GMT
      x-ms-version:
      - '2026-02-06'
    method: DELETE
    uri: https://clitestsa000002.blob.core.windows.net/container-delta?restype=container
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2026-02-06'
    status:
      code: 202
      message: Accepted
version: 1
