interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 22 Jan 2026 09:28:22 GMT
      x-ms-version:
      - '2026-02-06'
    method: PUT
    uri: https://clitestsa000002.blob.core.windows.net/container-alpha?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE599896DD2D45"'
      last-modified:
      - Thu, 22 Jan 2026 09:28:23 GMT
      x-ms-version:
      - '2026-02-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 22 Jan 2026 09:28:24 GMT
      x-ms-version:
      - '2026-02-06'
    method: PUT
    uri: https://clitestsa000002.blob.core.windows.net/container-beta?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE599897D087FE"'
      last-modified:
      - Thu, 22 Jan 2026 09:28:25 GMT
      x-ms-version:
      - '2026-02-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 22 Jan 2026 09:28:25 GMT
      x-ms-version:
      - '2026-02-06'
    method: PUT
    uri: https://clitestsa000002.blob.core.windows.net/container-gamma?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE599898C87316"'
      last-modified:
      - Thu, 22 Jan 2026 09:28:26 GMT
      x-ms-version:
      - '2026-02-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Thu, 22 Jan 2026 09:28:27 GMT
      x-ms-version:
      - '2026-02-06'
    method: PUT
    uri: https://clitestsa000002.blob.core.windows.net/container-delta?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE599899D6FF21"'
      last-modified:
      - Thu, 22 Jan 2026 09:28:28 GMT
      x-ms-version:
      - '2026-02-06'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.Storage/storageAccounts/clitestsa000002?api-version=2025-06-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.Storage/storageAccounts/clitestsa000002","name":"clitestsa000002","type":"Microsoft.Storage/storageAccounts","location":"centraluseuap","tags":{},"properties":{"allowCrossTenantDelegationSas":false,"keyCreationTime":{"key1":"2026-01-22T09:27:58.7071190Z","key2":"2026-01-22T09:27:58.7071190Z"},"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2026-01-22T09:27:58.7172164Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2026-01-22T09:27:58.7172164Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2026-01-22T09:27:58.5997939Z","primaryEndpoints":{"dfs":"https://clitestsa000002.dfs.core.windows.net/","web":"https://clitestsa000002.z2.web.core.windows.net/","blob":"https://clitestsa000002.blob.core.windows.net/","queue":"https://clitestsa000002.queue.core.windows.net/","table":"https://clitestsa000002.table.core.windows.net/","file":"https://clitestsa000002.file.core.windows.net/"},"primaryLocation":"centraluseuap","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"identity": {"type": "SystemAssigned"}, "location": "centraluseuap", "properties":
      {"securitySettings": {"softDeleteSettings": {"retentionDurationInDays": 14.0,
      "state": "AlwaysOn"}}, "storageSettings": [{"datastoreType": "VaultStore", "type":
      "LocallyRedundant"}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.DataProtection/backupVaults/clitest-vaulted-blob-vault?api-version=2025-09-01
  response:
    body:
      string: '{"location":"centraluseuap","identity":{"type":"SystemAssigned","principalId":"430cc248-58ca-4f54-a13c-c6a092fc1990","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"properties":{"provisioningState":"Provisioning","storageSettings":[{"datastoreType":"VaultStore","type":"LocallyRedundant"}],"isVaultProtectedByResourceGuard":false,"securitySettings":{"softDeleteSettings":{"state":"AlwaysOn","retentionDurationInDays":14.0}},"secureScore":"Adequate","bcdrSecurityLevel":"Good","replicatedRegions":[],"crossRegionBackupSettings":"NotApplicable"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.DataProtection/backupVaults/clitest-vaulted-blob-vault","name":"clitest-vaulted-blob-vault","type":"Microsoft.DataProtection/backupVaults"}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.DataProtection/backupVaults/clitest-vaulted-blob-vault/operationStatus/MGI1ODE5OTYtMzMxYy00MmY0LTg3YjAtNDRjYmYwMTM2M2YwOzU0YWY4MmMzLTY1NDAtNDMwNS04MTM1LTIxOWE2NjVmMmZiZg==?api-version=2025-09-01&t=639046709148216189&c=MIIHhjCCBm6gAwIBAgITfAn5MwrWQJ2kQ4QRUgAACfkzCjANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYD[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.DataProtection/backupVaults/clitest-vaulted-blob-vault/operationStatus/MGI1ODE5OTYtMzMxYy00MmY0LTg3YjAtNDRjYmYwMTM2M2YwOzU0YWY4MmMzLTY1NDAtNDMwNS04MTM1LTIxOWE2NjVmMmZiZg==?api-version=2025-09-01&t=639046709148216189&c=MIIHhjCCBm6gAwIBAgITfAn5MwrWQJ2kQ4QRUgAACfkzCjANBg[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.DataProtection/backupVaults/clitest-vaulted-blob-vault?api-version=2025-09-01
  response:
    body:
      string: '{"location":"centraluseuap","identity":{"type":"SystemAssigned","principalId":"430cc248-58ca-4f54-a13c-c6a092fc1990","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"properties":{"provisioningState":"Succeeded","storageSettings":[{"datastoreType":"VaultStore","type":"LocallyRedundant"}],"isVaultProtectedByResourceGuard":false,"securitySettings":{"softDeleteSettings":{"state":"AlwaysOn","retentionDurationInDays":14.0}},"secureScore":"Adequate","bcdrSecurityLevel":"Good","replicatedRegions":[],"crossRegionBackupSettings":"NotApplicable"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.DataProtection/backupVaults/clitest-vaulted-blob-vault","name":"clitest-vaulted-blob-vault","type":"Microsoft.DataProtection/backupVaults"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '1099'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"datasourceTypes": ["Microsoft.Storage/storageAccounts/blobServices"],
      "name": "BlobPolicy1", "objectType": "BackupPolicy", "policyRules": [{"isDefault":
      true, "lifecycles": [{"deleteAfter": {"duration": "P30D", "objectType": "AbsoluteDeleteOption"},
      "sourceDataStore": {"dataStoreType": "OperationalStore", "objectType": "DataStoreInfoBase"},
      "targetDataStoreCopySettings": []}], "name": "Default_OperationalStore", "objectType":
      "AzureRetentionRule"}, {"isDefault": true, "lifecycles": [{"deleteAfter": {"duration":
      "P7D", "objectType": "AbsoluteDeleteOption"}, "sourceDataStore": {"dataStoreType":
      "VaultStore", "objectType": "DataStoreInfoBase"}, "targetDataStoreCopySettings":
      []}], "name": "Default", "objectType": "AzureRetentionRule"}, {"backupParameters":
      {"backupType": "Discrete", "objectType": "AzureBackupParams"}, "dataStore":
      {"dataStoreType": "VaultStore", "objectType": "DataStoreInfoBase"}, "name":
      "BackupDaily", "objectType": "AzureBackupRule", "trigger": {"objectType": "ScheduleBasedTriggerContext",
      "schedule": {"repeatingTimeIntervals": ["R/2023-06-28T07:30:00+00:00/P1D"],
      "timeZone": "UTC"}, "taggingCriteria": [{"isDefault": true, "tagInfo": {"id":
      "Default_", "tagName": "Default"}, "taggingPriority": 99}]}}]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.DataProtection/backupVaults/clitest-vaulted-blob-vault/backupPolicies/blobpolicy?api-version=2025-09-01
  response:
    body:
      string: '{"properties":{"policyRules":[{"lifecycles":[{"deleteAfter":{"objectType":"AbsoluteDeleteOption"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.DataProtection/backupVaults/clitest-vaulted-blob-vault?api-version=2025-09-01
  response:
    body:
      string: '{"location":"centraluseuap","identity":{"type":"SystemAssigned","principalId":"430cc248-58ca-4f54-a13c-c6a092fc1990","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47"},"properties":{"provisioningState":"Succeeded","storageSettings":[{"datastoreType":"VaultStore","type":"LocallyRedundant"}],"isVaultProtectedByResourceGuard":false,"securitySettings":{"softDeleteSettings":{"state":"AlwaysOn","retentionDurationInDays":14.0}},"secureScore":"Adequate","bcdrSecurityLevel":"Good","replicatedRegions":[],"crossRegionBackupSettings":"NotApplicable"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/AzureBackupRG_clitest-dpp-vaulted-blob-update-000001/providers/Microsoft.DataProtection/backupVaults/clitest-vaulted-blob-vault","name":"clitest-vaulted-blob-vault","type":"Microsoft.DataProtection/backupVaults"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '1099'
      x-ms-throttling-version:
      - v1
    status:
      code: 200
      message: OK
version: 1
